html,
body,
#app {
  margin: 0px;
  height: 100%;
  padding: 0px;

}
  .el-pagination{
    margin-top: 10px;
  }

a{
  text-decoration: none;
  color: skyblue;
}

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .el-form-item{
      margin-bottom: 0px;
  }
